name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: marketplace
        ports:
          - 3306:3306

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build with Maven
        run: mvn clean install

      - name: Run application
        run: |
          mvn spring-boot:run &
          sleep 30 # Give the application some time to start

      - name: Run tests
        run: mvn test

      - name: Verify application
        run: mvn verify

      - name: Install Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh

      - name: Login to Heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          echo "${{ secrets.HEROKU_API_KEY }}" | heroku auth:token

      - name: Set up Heroku remote
        env:
          HEROKU_APP_NAME: ${{ secrets.HEROKU_APP_NAME }}
        run: |
          git remote remove heroku || true
          heroku git:remote -a ${{ secrets.HEROKU_APP_NAME }}

      - name: Deploy to Heroku
        run: |
          git push heroku master
